.login{
    display: none;
}
.signup{
    display: none;
}

.wrapper{
    position: relative;
    justify-content:center;
    width: 450px;
    
    margin-left: 32%;
    margin-top: 2%;
    
}
.wrapper form{
    
    border: 3px solid lavender;
    margin-top: 5%;
    width: auto;
    padding: 45px;
    border-radius: 25px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}
.size{
    margin: 5%;
    margin-left: 0%;
    
    width: 270px;
    height: 30px;
    border: 1px solid lavender;
    border-radius: 10px;
}
.size:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
.login form{
    align-items: center;
}
.a{
    
    margin-left: 4%;
}
.but{
    margin-top: 5%;
    clear: both;
    float: right;
    font-size: 15px;
    border-radius: 20px;
}
.but:hover{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}
nav{
    display: flex;
    justify-content: space-evenly;
       
}
nav button{
    padding: 2px 20px 2px 20px;
    font-size: 20px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav button:hover{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

@media screen and (max-width:450px){
    .wrapper{
        width: 250px;
        margin:auto;
    }
}
